Ak nechcete zmeškať ďalšie vydania podcastu, odporúčam jednu z nasledovných
možností:

<h2>Prihláste sa k odberu e-mailov o nových vydaniach podcastu (odporúčaná možnosť)</h2><br/>
<!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
	/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="//bednar.us14.list-manage.com/subscribe/post?u=26314496d41d780c47569ac74&amp;id=13d2c7e2b0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
	<h2>Prihláste sa k e-mailovým informáciám o novinkách:</h2>
<div class="mc-field-group">
	<label for="mce-EMAIL">Emailová adresa </label>
	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
</div>
	<div id="mce-responses" class="clear">
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_26314496d41d780c47569ac74_13d2c7e2b0" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Prihlásiť sa" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email'; /*
 * Translated default messages for the $ validation plugin.
 * Locale: SK
 */
$.extend($.validator.messages, {
	required: "Povinné zadať.",
	maxlength: $.validator.format("Maximálne {0} znakov."),
	minlength: $.validator.format("Minimálne {0} znakov."),
	rangelength: $.validator.format("Minimálne {0} a Maximálne {0} znakov."),
	email: "E-mailová adresa musí byť platná.",
	url: "URL musí byť platný.",
	date: "Musí byť dátum.",
	number: "Musí byť číslo.",
	digits: "Môže obsahovať iba číslice.",
	equalTo: "Dva hodnoty sa musia rovnať.",
	range: $.validator.format("Musí byť medzi {0} a {1}."),
	max: $.validator.format("Nemôže byť viac ako{0}."),
	min: $.validator.format("Nemôže byť menej ako{0}."),
	creditcard: "Číslo platobnej karty musí byť platné."
});}(jQuery));var $mcj = jQuery.noConflict(true);</script>
<!--End mc_embed_signup-->
<p/>

<h2><a href="https://geo.itunes.apple.com/sk/podcast/reci-o-zivote-vesmire-a-vobec/id1170817570?mt=2">Prihláste sa cez iTunes (vhodné pre majiteľov Apple iPhone, iPad zariadení)</a></h2><br/>
<a href="https://geo.itunes.apple.com/sk/podcast/reci-o-zivote-vesmire-a-vobec/id1170817570?mt=2" style="display:inline-block;overflow:hidden;background:url(//linkmaker.itunes.apple.com/assets/shared/badges/en-us/itunes-lrg.svg) no-repeat;width:110px;height:40px;background-size:contain;"></a>
<h2><a href="http://juraj.bednar.sk/podcast-feed.xml">Prihláste sa cez RSS (väčšina špecializovaných aplikácií na prehrávanie podcastov)</a></h2><br/>
<h2>Prihláste sa k môjmu YouTube kanálu, kde sa objavujú aj nové vydania podcastu</h2><br/>
<script src="https://apis.google.com/js/platform.js"></script>
<div class="g-ytsubscribe" data-channelid="UCKS9Fw9H5_mV7wyRDJsGk9Q" data-layout="full" data-count="default"></div>
<h2><a href="/category/podcast/#epizody">Pozrite si zoznam vydaných epizód v prehliadači teraz</a></h2><br/>

<h2>Podporte vydávanie podcastu</h2>
<p/>
Ak sa vám podcast páči, budem rád, ak prispejete na jeho tvorbu pomocou
Bitcoinu alebo iných kryptomien:
<p/>
Bitcoin:
		<script src="//blockr.io/js_external/coinwidget/coin.js"></script>
		<script>
			CoinWidgetCom.go({
				wallet_address: '1AVDNk3HjVu8Z4WQJd2bMb9PHRXQdXkAMQ',
				currency: 'bitcoin',
				counter: 'count',
				lbl_button: 'Donate',
				lbl_count: 'donations',
				lbl_amount: 'BTC',
				lbl_address: 'Use address below to donate. Thanks!',
				qrcode: true,
				alignment: 'bl',
				decimals: 8,
				size: "small",
				color: "dark",
				countdownFrom: "0",
				element: "#coinwidget-bitcoin-1AVDNk3HjVu8Z4WQJd2bMb9PHRXQdXkAMQ",
				onShow: function(){},
				onHide: function(){}
			});
		</script>
		<div id="coinwidget-bitcoin-1AVDNk3HjVu8Z4WQJd2bMb9PHRXQdXkAMQ"></div>
<p/>
Altcoiny:
<script>function shapeshift_click(a,e){e.preventDefault();var link=a.href;window.open(link,'1418115287605','width=700,height=500,toolbar=0,menubar=0,location=0,status=1,scrollbars=1,resizable=0,left=0,top=0');return false;}</script> <a onclick="shapeshift_click(this, event);" href="https://shapeshift.io/shifty.html?destination=1AVDNk3HjVu8Z4WQJd2bMb9PHRXQdXkAMQ&amp;output=BTC&amp;apiKey=aabac3fe1cbcd08faaf3bebc586092a890f18d6977829c096477e763d0a2d1342409c54a29ff507e43a60fe4e4caa22d1a28b77627122464c571fb2733c8b59e"><img src="https://shapeshift.io/images/shifty/small_light_altcoins.png" class="ss-button"></a>


<p/>
