{% comment %}
*
*   This include gets injected into the layout just before the
*   end of the HTML document.
*
{% endcomment %}
{% if site.google_analytics_tracking_id %}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', '{{ site.google_analytics_tracking_id }}', 'auto');
  ga('set', 'anonymizeIp', true);
  ga('send', 'pageview');

</script>
{% endif %}

<script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script><script type="text/javascript">require(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us14.list-manage.com","uuid":"26314496d41d780c47569ac74","lid":"13d2c7e2b0"}) })</script>
